<template>
    <v-container>
      <v-layout row wrap>
    <app-card
      :heading="$t('message.productOverview')"
      :fullBlock="true"
      colClasses="xl12 lg12 md12 sm12 xs12"
    >
    <v-container class="pt-0">
  <form method="POST">

      <input type="hidden" name="_token" :value="csrf">

      <v-text-field
          v-model="$v.product.ean.$model"
          :counter="13"
          :label="$t('message.ean')"
          :error-messages="eanErrors"
      ></v-text-field>

      <v-text-field
        v-model="$v.product.productName.$model"
        :label="$t('message.productName')"
        :error-messages="productNameErrors"
      ></v-text-field>

      <v-text-field
        v-model="$v.product.packSize.$model"
        :label="$t('message.packSize')"
        :error-messages="packSizeErrors"
      ></v-text-field>

      <v-text-field
        v-model="$v.product.portionSize.$model"
        :label="$t('message.portionSize')"
        :error-messages="portionSizeErrors"
      ></v-text-field>

      <v-layout row wrap m-0>
        <v-flex grow>
          <v-select
              v-model="$v.product.brandId.$model"
              :error-messages="brandErrors"
              item-text="name"
              item-value="id"
              :items="brandList"
              :label="$t('message.brand')"
            ></v-select>
        </v-flex>
        <v-flex shrink>


          <!-- Dialog Brand -->
          <v-dialog
            fullscreen hide-overlay transition="dialog-bottom-transition"
            v-model="brandDialog"
          >
            <template v-slot:activator="{ on }">
              <v-btn
                color="blue lighten-2"
                dark class="mr-0"
                v-on="on"
              >
                {{$t('message.add')}}
              </v-btn>
            </template>
    
            <v-card>
              <v-toolbar dark color="primary">
                <v-btn icon dark @click="brandDialog = false"><v-icon>close</v-icon></v-btn>
                <v-toolbar-title>{{$t('message.addBrand')}}</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-toolbar-items>
                  <v-btn dark flat @click="addBrand(), getBrands(), brandDialog = false">{{$t('message.save')}}</v-btn>
                </v-toolbar-items>
              </v-toolbar>

              <v-card-text>
                <v-container class="pt-0">
                <form method="POST">

                  <v-alert :value="brand.postResponse.length > 0" dismissible type="success">
                    {{ brand.postResponse }}
                  </v-alert>

                  <input type="hidden" name="_token" :value="csrf">
                  
                  <v-text-field
                      v-model="$v.brand.name.$model"
                      :label="$t('message.brandName')"
                      :error-messages="brandNameErrors"
                      required
                  ></v-text-field>

                  <v-layout row wrap m-0>
                  <v-flex grow>
                    <v-select
                      v-model="$v.brand.supplierId.$model"
                      :error-messages="supplierErrors"
                      item-text="name"
                      item-value="id"
                      :items="supplierList"
                      :label="$t('message.supplier')"
                    ></v-select>
                  </v-flex>
                  <v-flex shrink>

                  <!-- Dialog Supplier-->
                  <v-dialog
                    fullscreen hide-overlay transition="dialog-bottom-transition"
                    v-model="supplierDialog"
                  >
                    <template v-slot:activator="{ on }">
                      <v-btn
                        color="blue lighten-2"
                        dark class="mr-0"
                        v-on="on" 
                      >
                        {{$t('message.add')}}
                      </v-btn>
                    </template>
            
                    <v-card>
                      <v-toolbar dark color="primary">
                        <v-btn icon dark @click="supplierDialog = false">
                          <v-icon>close</v-icon>
                        </v-btn>
                        <v-toolbar-title>{{$t('message.addSupplier')}}</v-toolbar-title>
                        <v-spacer></v-spacer>
                        <v-toolbar-items>
                          <v-btn dark flat @click="addSupplier(), getSuppliers(), supplierDialog = false">{{$t('message.save')}}</v-btn>
                        </v-toolbar-items>
                      </v-toolbar>
              
                      <v-card-text>
                        <form method="POST">

                          <v-alert
                            :value="supplier.postResponse.length > 0"
                            dismissible
                            type="success" 
                          >
                            {{ supplier.postResponse }}
                          </v-alert>

                          <input type="hidden" name="_token" :value="csrf">
                          
                          <v-text-field
                              v-model="$v.supplier.name.$model"
                              :label="$t('message.supplierName')"
                              :error-messages="supplierNameErrors"
                              required
                          ></v-text-field>
                          
                          <!-- 
                          <dropzone id="myVueDropzone" class="mb-2" :options="dropzoneOptions">
                            <input type="hidden" v-model="$v.supplier.logo.$model" value="xxx">
                          </dropzone> -->


                          <v-text-field
                              v-model="$v.supplier.website.$model"
                              :label="$t('message.website')"
                              :error-messages="supplierWebsiteErrors"
                              required
                          ></v-text-field>

                        </form>
                      </v-card-text>

                      <v-divider></v-divider>
              
                      <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn
                          color="primary"
                          flat
                          @click="addSupplier()"
                        >
                          {{ $t('message.addSupplier') }}
                        </v-btn>
                      </v-card-actions>
                    </v-card>
                  </v-dialog>

                  <!-- End Dialog Brand -->

                    </v-flex>
                  </v-layout>
                  
                  <!-- 
                  <dropzone id="myVueDropzone" class="mb-2" :options="dropzoneOptions">
                    <input type="hidden" v-model="$v.brand.logo.$model" value="xxx">
                  </dropzone> -->


                    <v-text-field
                        v-model="$v.brand.website.$model"
                        :label="$t('message.website')"
                        :error-messages="brandWebsiteErrors"
                        required
                    ></v-text-field>


                  </form>
                </v-container>
              </v-card-text>

            </v-card>
          </v-dialog>
          <!-- End Dialog Brand -->
        </v-flex>
    </v-layout>
    <input type="hidden" name="addedById"   v-model="$v.product.addedById.$model">
    <input type="hidden" name="touchedById" v-model="$v.product.touchedById.$model">
    <v-btn color="success" class="ml-0" @click="addProduct">{{$t('message.addProduct')}}</v-btn>
  </form>
    </v-container>
  </app-card>
</v-layout>
</v-container>
</template>

<script>
  import api from "Api";
  import { validationMixin } from 'vuelidate'
  import { helpers, numeric, required, minLength, maxLength, url } from 'vuelidate/lib/validators'
  import Dropzone from "vue2-dropzone";

  const isEan = helpers.regex('ean', /^\d{13}$/)

  export default {
    mixins: [validationMixin],

    validations: {
      brand: {
        // logo: { required },
        name: { required },
        supplierId: { required },
        website: { url }
      },
      product: {
        addedById: { required },
        brandId: { required },
        ean: { required, isEan, numeric },
        packSize: { required, numeric },
        portionSize: { required, numeric },
        productName: { required },
        touchedById: { required }
      },
      supplier: {
        name: { required },
        website: { url },
      }
    },

    components: {
      Dropzone
    },

    data: () => ({
      brand: {
        logo: '',
        name: '',
        postResponse: '',
        supplierId: '',
        website: '',
      },
      brandList: [],
      csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
      brandDialog: false,
      dropzoneOptions: {
        url: "https://httpbin.org/post",
        thumbnailWidth: 150,
        maxFilesize: 0.5,
        headers: { "My-Awesome-Header": "header value" }
      },
      items: [
        { name: "-- Pick a brand --", id: null },
        { name: "Coca Cola", id: 1 },
        { name: "Mars", id: 2 },
        { name: "Campina", id: 3 },
        { name: "Verkade", id: 4 },
      ],
      product:{
        addedById: 1,
        brandId: null,
        ean: '',
        packSize: '',
        portionSize: '',
        productName: '',
        touchedById: 1,
      },
      supplier: {
        logo: '',
        name: '',
        postResponse: '',
        website: ''
      },
      supplierDialog: false,
      supplierList: []
    }),

    computed: {
      brandErrors (){
        const errors = []
        if (!this.$v.product.brandId.$dirty) return errors
        !this.$v.product.brandId.required && errors.push('Brand must be specified')
        return errors
      },
      eanErrors () {
        const errors = []
        if (!this.$v.product.ean.$dirty) return errors
        !this.$v.product.ean.numeric && errors.push('EAN must be numeric value')
        !this.$v.product.ean.isEan && errors.push('EAN must be exactly 13 characters long')
        !this.$v.product.ean.required && errors.push('EAN is required')
        return errors
      },
      productNameErrors () {
        const errors = []
        if (!this.$v.product.productName.$dirty) return errors
        !this.$v.product.productName.required && errors.push('Product name is required')
        return errors
      },
      packSizeErrors (){
        const errors = []
        if (!this.$v.product.packSize.$dirty) return errors
        !this.$v.product.packSize.numeric && errors.push('Pack size must be numeric value')
        !this.$v.product.packSize.required && errors.push('Pack size is required')
        return errors
      },
      portionSizeErrors (){
        const errors = []
        if (!this.$v.product.portionSize.$dirty) return errors
        !this.$v.product.portionSize.numeric && errors.push('Pack size must be numeric value')
        !this.$v.product.portionSize.required && errors.push('Portion size is required')
        return errors
      },
      brandNameErrors (){
        const errors = []
        if (!this.$v.brand.name.$dirty) return errors
        !this.$v.brand.name.required && errors.push('Brand name is required')
        return errors
      },
      brandWebsiteErrors (){
        const errors = []
        if (!this.$v.brand.website.$dirty) return errors
        !this.$v.brand.website.url && errors.push('Invalid URL')
        return errors
      },
      supplierErrors (){
        const errors = []
        if (!this.$v.brand.supplierId.$dirty) return errors
        !this.$v.brand.supplierId.required && errors.push('Supplier must be specified')
        return errors
      },
      supplierNameErrors (){
        const errors = []
        if (!this.$v.supplier.name.$dirty) return errors
        !this.$v.supplier.name.required && errors.push('Supplier name is required')
        return errors
      },
      supplierWebsiteErrors (){
        const errors = []
        if (!this.$v.supplier.website.$dirty) return errors
        !this.$v.supplier.website.url && errors.push('Invalid URL')
        return errors
      },
    },
    methods: {
      logIt (data) {
      console.log('detected', data)
      },
      addProduct () {
        this.$v.product.$touch();

        if(!this.$v.product.$invalid){

          api.post('products', { brandId: this.product.brandId, ean: this.product.ean, productName: this.product.productName, packSize: this.product.packSize, portionSize: this.product.portionSize, addedById: this.product.addedById, touchedById: this.product.touchedById }, { headers: {'Accept': 'application/json'} } )
          .then(function (response) {
              console.log(response);
              console.log(response.statusText);
          })
          .catch(function (error) {
              console.log(error);
          });
        }
      },
      addBrand () {
        this.$v.brand.$touch();

        var that = this;

        if(!this.$v.brand.$invalid){
          api.post('brands', { name: this.brand.name, website: this.brand.website, logo: '', supplierId: this.brand.supplierId }, { headers: {'Accept': 'application/json'}})
          .then(function (response) {
            that.brand.postResponse = 'Brand added'
            that.brand.name = ''
            that.brand.website = ''
            that.$v.brand.$reset()
          })
          .catch(function (error) {
            console.log(error);
          })

        }
      },
      addSupplier(){
        this.$v.supplier.$touch();

        var that = this;

        if(!this.$v.supplier.$invalid){
          api.post('suppliers', { name: this.supplier.name, website: this.supplier.website, logo: '' }, { headers: {'Accept': 'application/json'}})
          .then(function (response){
            that.supplier.postResponse = 'Supplier added'
            that.supplier.name = ''
            that.supplier.website = ''
            that.$v.supplier.$reset()
          })
          .catch(function (error){
            console.log(error);
          })
        }
      },
      getBrands() {
        api
          .get('brands')
          .then(response => {
              
              this.brandList = response.data.sort((a,b) => (a.name > b.name) ? 1 : ((b.name > a.name) ? -1 : 0)); 

            })
          .catch(error => {
            console.log(error);
          });
      },
      getSuppliers(){
        api
          .get('suppliers')
          .then(response => {

              this.supplierList = response.data.sort((a,b) => (a.name > b.name) ? 1 : ((b.name > a.name) ? -1 : 0)); 

          })
      }
    },
    mounted () {
      this.getBrands();
      this.getSuppliers();
    },
    watch: {
      ean: function(){ this.product.ean = this.product.ean.replace(' ','') },
      packSize: function(){ this.product.packSize = this.product.packSize.replace(',','.') },
      portionSize: function(){ this.product.portionSize = this.product.portionSize.replace(',','.') },
    }
  }
</script>