<template>
  <div>
    <v-container grid-list-md text-xs-center>
      <v-layout row wrap>
        <v-flex xs12>
          <app-card :heading="product.name" :fullBlock="true" colClasses="xl12 lg12 md12 sm12 xs12">
            <v-layout row wrap class="pb-4 mt-2">
              <v-flex xs12 sm6 text-xs-left class="px-4">
                <v-layout row wrap class="p-2">
                  <label>{{$t('message.ean')}}:</label> 
                  <strong class="pl-2">{{product.ean}}</strong>
                </v-layout>
              </v-flex>
              <v-flex xs12 sm6 text-xs-left class="px-4">
                <v-layout row wrap class="p-2">
                  <label>{{$t('message.brand')}}:</label> 
                  <strong class="pl-2">{{product.brand.name}}</strong>
                </v-layout>
              </v-flex>
            </v-layout>
            <v-expansion-panel expand v-model="openOnLoad" class="mb-0">
              <v-expansion-panel-content>
                <template v-slot:header>
                  <strong>Ingrediënten</strong>
                </template>
                <v-card>
                  <v-card-text>
                    <template v-if="product.ingredients">
                      <ul>
                        <li v-for="ingredient in product.ingredients">
                            {{ingredient.name}}
                        </li>
                      </ul>
                    </template>
                    <template v-else>
                        {{$t('message.noIngredients')}}
                      </template>
                  </v-card-text>
                </v-card>
              </v-expansion-panel-content>
              <v-expansion-panel-content>
                <template v-slot:header>
                  <strong>Voedingswaarde</strong>
                </template>
                <v-card>
                  <v-card-text>
                    <template v-if="product.nutritions">
                      <ul>
                        <li v-for="nutrition in product.nutritions">
                            {{nutrition.name}}
                        </li>
                      </ul>
                    </template>
                    <em class="px-2" v-else>
                      {{$t('message.noNutritions')}}
                    </em>
                  </v-card-text>
                </v-card>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </app-card>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>

import api from "Api";
import { formatDate } from "Helpers/helpers";
import { mapGetters	} from "vuex";

export default {
  data() {
    return {
      openOnLoad: [0,1,2],
      product: Object
    };
  },
  methods: {
		getProduct() {
      api
        .get("products/" + this.$route.params.id)
        .then(response => {
          this.product = response.data;
          })
        .catch(error => {
          console.log(error);
        });
    },
	},
	mounted () {
		this.getProduct();
	},
	computed: {
		...mapGetters(["selectedLocale", "languages"])
	}
};
</script>