<template>
  <v-container>
    <v-layout row wrap>
      <app-card
        :heading="$t('message.addAProduct')"
        :fullBlock="true"
        colClasses="xl12 lg12 md12 sm12 xs12"
      >
        <v-quagga :onDetected="logIt" :readerSize="readerSize" :readerTypes="['ean_reader']"></v-quagga>
        <v-container class="pt-0">
          <form method="POST">

            <!-- <input type="hidden" name="_token" :value="csrf"> -->
            <v-expansion-panel expand class="mb-0" :value=[true,true,true]>
              <v-expansion-panel-content>
                <template v-slot:header>
                  <strong>{{$t('message.productDetails')}}</strong>
                </template>
                <v-card class="px-2">
                  <v-card-text>
                    <v-layout row wrap class="p-0 m-0">
                      <v-flex>
                        <v-text-field
                            v-model="$v.product.ean.$model"
                            :counter="13"
                            :label="$t('message.ean')"
                            :error-messages="eanErrors"
                        ></v-text-field>
                      </v-flex>
                      <v-flex shrink>
                        <v-btn flat icon color="blue lighten-2">
                          <v-icon @click="openBarcodeScanner">camera_enhance</v-icon>
                        </v-btn>
                      </v-flex>
                    </v-layout>

                    <v-text-field
                      v-model="$v.product.productName.$model"
                      :label="$t('message.productName')"
                      :error-messages="productNameErrors"
                    ></v-text-field>

                    <v-select
                      v-model="$v.product.portionSizeUnit.$model"
                      :error-messages="portionSizeUnitErrors"
                      :items="units"
                      :label="$t('message.portionSizeUnit')"
                    ></v-select>

                    <v-layout>
                      <v-flex pr-4>
                        <v-text-field
                          v-model="$v.product.portionSize.$model"
                          :label="$t('message.portionSize')"
                          :error-messages="portionSizeErrors"
                          :suffix="product.portionSizeUnit"
                        ></v-text-field>
                      </v-flex>
                      <v-flex>
                        <v-text-field
                          v-model="$v.product.packSize.$model"
                          :label="$t('message.packSize')"
                          :error-messages="packSizeErrors"
                          :suffix="product.portionSizeUnit"
                        ></v-text-field>
                      </v-flex>
                    </v-layout>

                    <v-layout row wrap m-0>
                      <v-flex grow>
                        <v-autocomplete
                          v-model="$v.product.brandId.$model"
                          :error-messages="brandErrors"
                          :items="brandList"
                          item-text="name"
                          item-value="id"
                          :label="$t('message.brand')"
                          persistent-hint
                        ></v-autocomplete>
                      </v-flex>
                      <v-flex shrink>

                        <!-- Dialog Brand -->
                        <v-dialog
                          fullscreen hide-overlay transition="dialog-bottom-transition"
                          v-model="brandDialog">
                          <template v-slot:activator="{ on }">
                            <v-btn flat icon color="blue lighten-2" v-on="on">
                              <v-icon>add_circle</v-icon> 
                            </v-btn>
                          </template>
                  
                          <v-card>
                            <v-toolbar dark color="primary">
                              <v-btn icon dark @click="brandDialog = false"><v-icon>close</v-icon></v-btn>
                              <v-toolbar-title>{{$t('message.addBrand')}}</v-toolbar-title>
                              <v-spacer></v-spacer>
                              <v-toolbar-items>
                                <v-btn dark flat @click="addBrand(), getBrands(), brandDialog = false">{{$t('message.save')}}</v-btn>
                              </v-toolbar-items>
                            </v-toolbar>

                            <v-card-text>
                              <v-container class="pt-0">
                                <form method="POST">

                                  <v-alert :value="brand.postResponse.length > 0" dismissible type="success">
                                    {{ brand.postResponse }}
                                  </v-alert>

                                  <input type="hidden" name="_token" :value="csrf">
                                  
                                  <v-text-field
                                      v-model="$v.brand.name.$model"
                                      :label="$t('message.brandName')"
                                      :error-messages="brandNameErrors"
                                      required
                                  ></v-text-field>

                                  <v-layout row wrap m-0>
                                    <v-flex grow>
                                      <v-select
                                        v-model="$v.brand.supplierId.$model"
                                        :error-messages="supplierErrors"
                                        item-text="name"
                                        item-value="id"
                                        :items="supplierList"
                                        :label="$t('message.supplier')"
                                      ></v-select>

                                    </v-flex>
                                    <v-flex shrink>

                                      <!-- Dialog Supplier-->
                                      <v-dialog
                                        fullscreen hide-overlay transition="dialog-bottom-transition"
                                        v-model="supplierDialog">
                                        <template v-slot:activator="{ on }">
                                          <v-btn flat icon color="blue lighten-2" v-on="on">
                                            <v-icon>add_circle</v-icon> 
                                          </v-btn>
                                        </template>
                                
                                        <v-card>
                                          <v-toolbar dark color="primary">
                                            <v-btn icon dark @click="supplierDialog = false">
                                              <v-icon>close</v-icon>
                                            </v-btn>
                                            <v-toolbar-title>{{$t('message.addSupplier')}}</v-toolbar-title>
                                            <v-spacer></v-spacer>
                                            <v-toolbar-items>
                                              <v-btn dark flat @click="addSupplier(), getSuppliers(), supplierDialog = false">{{$t('message.save')}}</v-btn>
                                            </v-toolbar-items>
                                          </v-toolbar>
                                  
                                          <v-card-text>
                                            <v-container class="pt-0">
                                              <form method="POST">

                                                <v-alert
                                                  :value="supplier.postResponse.length > 0"
                                                  dismissible
                                                  type="success" 
                                                >
                                                  {{ supplier.postResponse }}
                                                </v-alert>

                                                <input type="hidden" name="_token" :value="csrf" />
                                                
                                                <v-text-field
                                                    v-model="$v.supplier.name.$model"
                                                    :label="$t('message.supplierName')"
                                                    :error-messages="supplierNameErrors"
                                                    required
                                                ></v-text-field>
                                                
                                                <!-- 
                                                <dropzone id="myVueDropzone" class="mb-2" :options="dropzoneOptions">
                                                  <input type="hidden" v-model="$v.supplier.logo.$model" value="xxx">
                                                </dropzone> -->
                                                <v-text-field
                                                    v-model="$v.supplier.website.$model"
                                                    :label="$t('message.website')"
                                                    :error-messages="supplierWebsiteErrors"
                                                    required
                                                ></v-text-field>
                                              </form>
                                            </v-container>
                                          </v-card-text>

                                          <v-divider></v-divider>
                                  
                                          <v-card-actions>
                                            <v-spacer></v-spacer>
                                            <v-btn
                                              color="primary"
                                              flat
                                              @click="addSupplier()"
                                            >
                                              {{ $t('message.addSupplier') }}
                                            </v-btn>
                                          </v-card-actions>
                                        </v-card>
                                      </v-dialog>

                                      <!-- End Dialog Brand -->
                                    </v-flex>
                                  </v-layout>
                                  
                                  <!-- 
                                  <dropzone id="myVueDropzone" class="mb-2" :options="dropzoneOptions">
                                    <input type="hidden" v-model="$v.brand.logo.$model" value="xxx">
                                  </dropzone> -->

                                  <v-text-field
                                      v-model="$v.brand.website.$model"
                                      :label="$t('message.website')"
                                      :error-messages="brandWebsiteErrors"
                                      required
                                  ></v-text-field>

                                </form>
                              </v-container>
                            </v-card-text>

                          </v-card>
                        </v-dialog>
                        <!-- End Dialog Brand -->
                      </v-flex>
                    </v-layout>
                  </v-card-text>
                </v-card>
              </v-expansion-panel-content>
              <v-expansion-panel-content>
                <template v-slot:header>
                  <strong>{{$t('message.ingredients')}}</strong>
                </template>
                <v-card class="px-2">
                  <v-card-text>
                    <template v-for="(ingredient, key) in product.ingredients">
                      <v-layout row px-3>
                          <v-combobox
                            v-model="ingredient.name"
                            :items="ingredientsList"
                            item-text="name"
                            item-value="name"
                            :label="$t('message.ingredient') + ' ' + (key + 1)"
                            persistent-hint
                            :tabindex="key + 100"
                            cache-items
                          ></v-combobox>
                        </v-autocomplete>
                        <v-btn flat icon color="blue lighten-2">
                          <v-icon @click="removeIngredient(key)">remove_circle</v-icon>
                        </v-btn>
                      </v-layout>
                    </template>
                    <v-btn class="ml-0" color="info" @click="addIngredient()">{{$t('message.addIngredients')}}</v-btn>

                      <v-dialog
                        fullscreen hide-overlay transition="dialog-bottom-transition"
                        v-model="smartIngredientsDialog">
                        <template v-slot:activator="{ on }">
                          <v-btn class="" color="primary" v-on="on">
                            <v-icon class="mr-1">camera</v-icon>
                            {{$t('message.addIngredientsViaPhoto')}}
                          </v-btn>
                        </template>
                
                        <v-card>
                          <v-toolbar dark color="primary">
                            <v-btn icon dark @click="smartIngredientsDialog = false"><v-icon>close</v-icon></v-btn>
                            <v-toolbar-title>{{$t('message.addIngredientsViaPhoto')}}</v-toolbar-title>
                            <v-spacer></v-spacer>
                            <v-toolbar-items>
                              <v-btn dark flat @click="addBrand(), getBrands(), smartIngredientsDialog = false">{{$t('message.save')}}</v-btn>
                            </v-toolbar-items>
                          </v-toolbar>

                          <v-card-text>
                            <v-container class="pt-0">
                              <form method="POST" ref="smartIngredientsUpload">

                                <!-- <dropzone id="myVueDropzone" class="mb-2" :options="dropzoneOptionsOcr" @vdropzone-complete="afterComplete">  -->
                                <dropzone id="myVueDropzone" class="mb-2" :awss3="awss3" :options="dropzoneOptionsOcr" @vdropzone-s3-upload-success="afterComplete"> 
                                  <input type="hidden" v-model="product.images" value="xxx"> 
                                </dropzone>

                                <v-btn class="" color="primary" @click="processImages()">
                                  {{$t('message.process')}}
                                </v-btn>

                              </form>
                            </v-container>
                          </v-card-text>

                        </v-card>
                      </v-dialog>

                  </v-card-text>
                </v-card>
              </v-expansion-panel-content>
              <v-expansion-panel-content>
                <template v-slot:header>
                  <strong>{{$t('message.nutritionalValues')}}</strong>
                </template>
                <v-card>
                  <v-card-text>
                    <v-radio-group v-model="nutritionalValuesPerPortion" row>
                      <v-radio
                        :label="per100Label"
                        class="mb-0"
                        value="per100"
                      ></v-radio>
                      <v-radio
                        :label="perPortionLabel"
                        value="perPortion"
                      ></v-radio>
                    </v-radio-group>

                    <v-alert
                      v-if="nutritionalValuesPerPortion === 'perPortion' && (!$v.product.portionSize.$model || $v.product.portionSize.$invalid)"
                      :value="true"
                      type="error"
                      class="mb-4"
                    >
                      {{$t('message.portionSizeMustBeSpecified')}}
                    </v-alert>

                    <v-layout row>
                
                      <template v-if="nutritionalValuesPerPortion === 'perPortion'">
                        <v-flex class="px-4">
                          <v-subheader class="px-0">{{perPortionLabel}}</v-subheader>
                          <v-spacer></v-spacer>
                          <template v-for="(nutrantPerPortion, key) in $v.product.nutritionalValuesPerPortion.$each.$iter">
                            <v-text-field
                                required
                                :label="$t('message.' + nutrantPerPortion.$model.label)"
                                :disabled="!nutrantPerPortion.$model.specified"
                                v-model="nutrantPerPortion.amount.$model"
                                :tabindex="key + 200"
                                @input="convertToPer100(nutrantPerPortion.$model.id, nutrantPerPortion.$model.amount)"
                                :suffix="nutrantPerPortion.$model.defaultSuffix"
                            ></v-text-field>
                          </template>
                        </v-flex>
                      </template>

                      <v-flex class="px-4">
                        <v-subheader class="px-0">{{per100Label}}</v-subheader>
                        <v-spacer></v-spacer>

                        <template v-for="(nutrant, key) in $v.product.nutritionalValues.$each.$iter">
                          <v-layout row wrap class="p-0 m-0">
                            <v-flex>
                              <v-text-field
                                required
                                :label="$t('message.' + nutrant.$model.name)"
                                :disabled="(nutritionalValuesPerPortion === 'perPortion' || !nutrant.$model.specified)"
                                v-model.trim="nutrant.amount.$model"
                                :tabindex="key + 250"
                                :error-messages="nutritionalValueErrors[nutrant.$model.name]"
                                @input="checkForAmountErrors(nutrant.amount.$invalid, nutrant.$model.name)"
                                :suffix="nutrant.$model.defaultSuffix"
                              ></v-text-field>
                            </v-flex>
                            <v-flex class="pl-4" shrink>
                              <v-switch v-model="nutrant.$model.specified"></v-switch>
                            </v-flex>
                          </v-layout>
                        </template>
                      </v-flex>

                    </v-layout>

                  </v-card-text>
                </v-card>
              </v-expansion-panel-content>
            </v-expansion-panel>

            <input type="hidden" name="addedById"   v-model="$v.product.addedById.$model">
            <input type="hidden" name="touchedById" v-model="$v.product.touchedById.$model">
            
            <v-layout justify-end>
              <v-btn color="success" class="ml-0" @click="addProduct">{{$t('message.addProduct')}}</v-btn>
            </v-layout>
          </form>
        </v-container>



      </app-card>
    </v-layout>
  </v-container>
</template>

<script>
  import api from "Api";
  import { validationMixin } from 'vuelidate'
  import { helpers, numeric, decimal, required, minLength, maxLength, url } from 'vuelidate/lib/validators'
  import Dropzone from "vue2-dropzone";
  import Vue from 'vue'
  import adapter from 'webrtc-adapter';
  import Quagga from 'quagga'; // ES6
  import VueQuagga from 'vue-quaggajs';

  const isEan = helpers.regex('ean', /^\d{13}$|^\d{8}$/)

  Vue.use(VueQuagga);

  export default {
    mixins: [validationMixin],

    data: () => ({
      readerSize: {
        width: 640,
        height: 480
      },
      detecteds: [],
      brand: {
        logo: '',
        name: '',
        postResponse: '',
        supplierId: '',
        website: '',
      },
      brandList: [],
      csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
      brandDialog: false,
      dropzoneOptions: {
        url: "https://httpbin.org/post",
        thumbnailWidth: 150,
        maxFilesize: 2.5,
        headers: { "My-Awesome-Header": "header value" }
      },
      awss3: {
          signingURL: 'http://127.0.0.1:8000/',
          headers: {},
          params : {},
          sendFileToServer : true,
          withCredentials: false
      },
      dropzoneOptionsOcr: {
        url: "https://0g8fnp7b76.execute-api.eu-central-1.amazonaws.com/Prod/api/Images/Upload",
        thumbnailWidth: 150,
        maxFilesize: 2.5,
        headers: { },
        params: {}
      },
      ingredientsList: [],
      nutritionalValueList: [],
      nutritionalValueErrors: {},
      nutritionalValuesPerPortion: 'per100',
      product:{
        addedById: 1,
        brandId: null,
        ean: '',
        images: [],
        ingredients: [{ name: '' }],
        nutritionalValues: [],
        nutritionalValuesPerPortion: [],
        packSize: '',
        portionSize: '',
        portionSizeUnit: 'g',
        productName: '',
        touchedById: 1,
      },
      smartIngredientsDialog: false,
      supplier: {
        logo: '',
        name: '',
        postResponse: '',
        website: ''
      },
      supplierDialog: false,
      supplierList: [],
      units: ['g', 'ml'],
    }),

    validations: {
      brand: {
        // logo: { required },
        name: { required },
        supplierId: { required },
        website: { url }
      },
      product: {
        addedById: { required },
        brandId: { required },
        ean: { required, isEan, numeric },
        nutritionalValues: {
          $each: {
            amount: { 
              decimal 
            }
          }
        },
        nutritionalValuesPerPortion: {
          $each: {
            amount: { 
              decimal 
            }
          }
        },
        packSize: { required, decimal },
        portionSize: { required, decimal },
        portionSizeUnit: { required },
        productName: { required },
        touchedById: { required }
      },
      supplier: {
        name: { required },
        website: { url },
      }
    },

    components: {
      Dropzone
    },

    computed: {
      brandErrors (){
        const errors = []
        if (!this.$v.product.brandId.$dirty) return errors
        !this.$v.product.brandId.required && errors.push('Brand must be specified')
        return errors
      },
      eanErrors () {
        const errors = []
        if (!this.$v.product.ean.$dirty) return errors
        !this.$v.product.ean.numeric && errors.push('EAN must be numeric value')
        !this.$v.product.ean.isEan && errors.push('EAN must be exactly 8 or 13 characters long')
        !this.$v.product.ean.required && errors.push('EAN is required')
        return errors
      },
      productNameErrors () {
        const errors = []
        if (!this.$v.product.productName.$dirty) return errors
        !this.$v.product.productName.required && errors.push('Product name is required')
        return errors
      },
      packSizeErrors (){
        const errors = []
        if (!this.$v.product.packSize.$dirty) return errors
        !this.$v.product.packSize.decimal && errors.push('Pack size must be numeric value')
        !this.$v.product.packSize.required && errors.push('Pack size is required')
        return errors
      },
      portionSizeErrors (){
        const errors = []
        if (!this.$v.product.portionSize.$dirty) return errors
        !this.$v.product.portionSize.decimal && errors.push('Pack size must be numeric value')
        !this.$v.product.portionSize.required && errors.push('Portion size is required')
        return errors
      },
      portionSizeUnitErrors (){
        const errors = []
        if (!this.$v.product.portionSizeUnit.$dirty) return errors
        !this.$v.product.portionSizeUnit.required && errors.push('Portion size unit is required')
        return errors
      },
      brandNameErrors (){
        const errors = []
        if (!this.$v.brand.name.$dirty) return errors
        !this.$v.brand.name.required && errors.push('Brand name is required')
        return errors
      },
      brandWebsiteErrors (){
        const errors = []
        if (!this.$v.brand.website.$dirty) return errors
        !this.$v.brand.website.url && errors.push('Invalid URL')
        return errors
      },
      supplierErrors (){
        const errors = []
        if (!this.$v.brand.supplierId.$dirty) return errors
        !this.$v.brand.supplierId.required && errors.push('Supplier must be specified')
        return errors
      },
      supplierNameErrors (){
        const errors = []
        if (!this.$v.supplier.name.$dirty) return errors
        !this.$v.supplier.name.required && errors.push('Supplier name is required')
        return errors
      },
      supplierWebsiteErrors (){
        const errors = []
        if (!this.$v.supplier.website.$dirty) return errors
        !this.$v.supplier.website.url && errors.push('Invalid URL')
        return errors
      },
      perPortionLabel (){
        let label = this.$t('message.perPortion'); 

        if(this.product.portionSize){
          label += ' (' + this.product.portionSize

          if(this.product.portionSizeUnit){
            label += ' ' + this.product.portionSizeUnit
          }

          label += ')'
        }

        return label
      },
      per100Label (){
        let label = this.$t('message.per100');

        if(this.product.portionSizeUnit){
          label += ' ' + this.product.portionSizeUnit + ''
        }

        return label
      }
    },
    methods: {
      logIt (data) {
        console.log('detected', data)
      },
      addIngredient () {
        let emptyIngredient = { name: '' }

        this.product.ingredients.push(emptyIngredient);
      },
      removeIngredient (key) {
        this.product.ingredients.splice(key,1);
      },
      addProduct () {
        this.$v.product.$touch();

        if(!this.$v.product.$invalid){

          api.post('products', { 
              addedById:          this.product.addedById, 
              brandId:            this.product.brandId, 
              ean:                this.product.ean,
              ingredients:        this.product.ingredients, 
              nutritionalValues:  this.product.nutritionalValues, 
              packSize:           this.product.packSize, 
              portionSize:        this.product.portionSize, 
              portionSizeUnit:    this.product.portionSizeUnit, 
              productName:        this.product.productName, 
              touchedById:        this.product.touchedById 
            }, 
            { 
              headers: {'Accept': 'application/json'} 
            })
          .then(function (response) {
              console.log(response);
              console.log(response.statusText);
          })
          .catch(function (error) {
              console.log(error);
          });
        }
      },
      addBrand () {
        this.$v.brand.$touch();

        var that = this;

        if(!this.$v.brand.$invalid){
          api.post('brands', { name: this.brand.name, website: this.brand.website, logo: '', supplierId: this.brand.supplierId }, { headers: {'Accept': 'application/json'}})
          .then(function (response) {
            that.brand.postResponse = 'Brand added'
            that.brand.name = ''
            that.brand.website = ''
            that.$v.brand.$reset()
          })
          .catch(function (error) {
            console.log(error);
          })

        }
      },
      addSupplier(){
        this.$v.supplier.$touch();

        var that = this;

        if(!this.$v.supplier.$invalid){
          api.post('suppliers', { name: this.supplier.name, website: this.supplier.website, logo: '' }, { headers: {'Accept': 'application/json'}})
          .then(function (response){
            that.supplier.postResponse = 'Supplier added'
            that.supplier.name = ''
            that.supplier.website = ''
            that.$v.supplier.$reset()
          })
          .catch(function (error){
            console.log(error);
          })
        }
      },
      afterComplete(response) {
        console.log('afterComplete');
        console.log(response);
      },
      getBrands() {
        api
          .get('brands')
          .then(response => {
              
              this.brandList = response.data.sort((a,b) => (a.name > b.name) ? 1 : ((b.name > a.name) ? -1 : 0)); 

            })
          .catch(error => {
            console.log(error);
          });
      },
      getSuppliers(){
        api
          .get('suppliers')
          .then(response => {
              this.supplierList = response.data.sort((a,b) => (a.name > b.name) ? 1 : ((b.name > a.name) ? -1 : 0)); 
          })
      },
      getAllNutrants(){
        api
          .get('nutritionalValues')
          .then(response => {
              this.nutritionalValueList = response.data;
          })
      },
      getAllIngredients(){
        api
          .get('ingredientNames')
          .then(response => {
              this.ingredientsList = response.data.sort((a,b) => (a.name > b.name) ? 1 : ((b.name > a.name) ? -1 : 0)); 
          })
      },
      convertToPer100(nutrantId, amount){
        if(this.$v.product.portionSize.$invalid){
          this.product.nutritionalValuesPerPortion.find(x => x.id === nutrantId).amount = '';
          return
        }

        this.product.nutritionalValuesPerPortion.find(x => x.id === nutrantId).amount = amount.replace(',','.');

        let nutrantValue = (amount / this.product.portionSize) * 100

        this.product.nutritionalValues.find(x => x.id === nutrantId).amount = nutrantValue.toFixed(2);
      },
      checkForAmountErrors(invalid, name){
        if(invalid === true){
          this.nutritionalValueErrors[name] = ['Ongeldige waarde'];
        }else{
          this.nutritionalValueErrors[name] = undefined;
        }
      },
      openBarcodeScanner(){
        alert('Deze functie wordt binnenkort geïmplementeerd');
      }
    },
    mounted () {
      this.getBrands();
      this.getSuppliers();
      this.getAllNutrants();
      this.getAllIngredients();
    },
    watch: {
      'product.ean': function(){ this.product.ean = this.product.ean.replace(' ','') },
      'product.packSize': function(){ this.product.packSize = this.product.packSize.replace(',','.') },
      'product.portionSize': function(){ this.product.portionSize = this.product.portionSize.replace(',','.') },

      nutritionalValueList: function(list){

        for(let value of list){
           let emptyNutrionalValue = { name: value.name, specified: true, amount: '', id: value.id, defaultSuffix: value.default_suffix };
           let emptyNutrionalValuePerPortion = { name: value.name + 'PerPortion', label: value.name, specified: true, amount: '', id: value.id, defaultSuffix: value.default_suffix };

           this.product.nutritionalValues.push(emptyNutrionalValue);
           this.product.nutritionalValuesPerPortion.push(emptyNutrionalValuePerPortion);
        }

      }
    },
  }
  </script>