<template>
  <div>
  	<v-container fluid grid-list-xl>
      <v-layout row wrap>
        <app-card
          	:heading="$t('message.ingredients')"
            :fullBlock="true"
            colClasses="xl12 lg12 md12 sm12 xs12"
          >
          <v-data-table
            :headers="headers"
            :items="ingredients"
            hide-actions
          >
          	<template slot="headerCell" slot-scope="props">
          		{{ $t(props.header.text) }}
          	</template>
            <template slot="items" slot-scope="props">
              <td align="right" width="40">{{ props.item.id }}</td>
              <td>{{ props.item.name }}</td>
              <td>{{ formatDate(props.item.created_at, selectedLocale.dateTimeFormat) }}</td>
              <td>{{ formatDate(props.item.updated_at, selectedLocale.dateTimeFormat) }}</td>
              <td width="30">
                <v-layout>
                  <v-btn flat icon color="blue lighten-2" :href="'/products/edit/' + props.item.id">
                    <v-icon>edit</v-icon>
                  </v-btn>
                  <v-btn flat icon color="blue lighten-2" :href="'/products/remove/' + props.item.id">
                    <v-icon>delete</v-icon>
                  </v-btn>
                </v-layout>
              </td>
            </template>
            <template slot="no-data">
              <v-flex xs12 wrap text-center>  
                <em>{{$t('message.noData')}}</em>
              </v-flex>
            </template>
          </v-data-table>
        </app-card>
      </v-layout>
    </v-container>
  </div>
</template>

<script>

import api from "Api";
import { formatDate } from "Helpers/helpers";
import { mapGetters	} from "vuex";

export default {
  data() {
    return {
    	headers: [
	        { text: "message.id", value: "ean", align: "left" },
	        { text: "message.name", value: "name" },
	        { text: 'message.added', value: "added" },
	        { text: 'message.updated', value: "updated" },
          { text: 'message.actions' }
	    ],
    	ingredients: [],
    };
  },
  methods: {
		getIngredients() {
			api
				.get("ingredients")
				.then(response => {
					this.ingredients = response.data;
				})
				.catch(error => {
					console.log(error);
				});
		},
		formatDate(timestamp, format) {
			return formatDate(timestamp, format);
		},
	},
	mounted () {
		this.getIngredients();
	},
	computed: {
		...mapGetters(["selectedLocale", "languages"])
	}
};
</script>