<template>
  <div>
  	<v-container fluid grid-list-xl>
      <v-layout row wrap>
        <app-card
          	:heading="$t('message.productOverview')"
            :fullBlock="true"
            colClasses="xl12 lg12 md12 sm12 xs12"
          >
          <v-data-table
            :headers="headers"
            :items="products"
            hide-actions
          >
          	<template slot="headerCell" slot-scope="props">
          		{{ $t(props.header.text) }}
          	</template>
            <template slot="items" slot-scope="props">
              <td>{{ props.item.ean }}</td>
              <td>{{ props.item.name }}</td>
              <td>{{ props.item.brand.name }}</td>
              <td>{{ props.item.pack_size }} {{ props.item.portion_size_unit }}</td>
              <td>{{ props.item.portion_size }} {{ props.item.portion_size_unit }}</td>
              <td>{{ formatDate(props.item.created_at, selectedLocale.dateTimeFormat) }} ({{$t('message.by')}} {{props.item.added_by_id}})</td>
              <td>{{ formatDate(props.item.updated_at, selectedLocale.dateTimeFormat) }} ({{$t('message.by')}} {{props.item.touched_by_id}})</td>
              <td width="52">
                <v-layout>
                  <v-btn flat icon color="blue lighten-2" :href="'/products/' + props.item.id">
                    <v-icon>search</v-icon>
                  </v-btn>
                  <v-btn flat icon color="blue lighten-2" :href="'/products/edit/' + props.item.id">
                    <v-icon>edit</v-icon>
                  </v-btn>
                  <v-btn flat icon color="blue lighten-2" :href="'/products/remove/' + props.item.id">
                    <v-icon>delete</v-icon>
                  </v-btn>
                </v-layout>
              </td>
            </template>
            <template slot="no-data">
              <v-flex xs12 wrap text-center>  
                <em>{{$t('message.noData')}}</em>
              </v-flex>
            </template>
          </v-data-table>
        </app-card>
      </v-layout>
    </v-container>
  </div>
</template>

<script>

import api from "Api";
import { formatDate } from "Helpers/helpers";
import { mapGetters	} from "vuex";

export default {
  data() {
    return {
    	headers: [
	        { text: "message.ean", value: "ean", align: "left" },
	        { text: "message.product", value: "name" },
	        { text: 'message.brand', value: "brand" },
	        { text: 'message.packSize', value: "pack_size" },
	        { text: 'message.portionSize', value: "portion_size" },
	        { text: 'message.added', value: "added" },
	        { text: 'message.updated', value: "updated" },
          { text: 'message.actions' }
	    ],
    	products: [],
    };
  },
  methods: {
		getProducts() {
			api
				.get("products")
				.then(response => {
					this.products = response.data;
					})
				.catch(error => {
					console.log(error);
				});
		},
		formatDate(timestamp, format) {
			return formatDate(timestamp, format);
		},
	},
	mounted () {
		this.getProducts();
	},
	computed: {
		...mapGetters(["selectedLocale", "languages"])
	}
};
</script>