<template>
  <div>
  	<v-container fluid grid-list-xl>
      <v-layout row wrap>
        <app-card
          	:heading="$t('message.supplierOverview')"
            :fullBlock="true"
            colClasses="xl12 lg12 md12 sm12 xs12"
          >
          <v-data-table
            :headers="headers"
            :items="suppliers"
            hide-actions
          >
          	<template slot="headerCell" slot-scope="props">
          		{{ $t(props.header.text) }}
          	</template>
            <template slot="items" slot-scope="props">
              <td>{{ props.item.name }}</td>
              <td><a :href="props.item.website">{{$t('message.visitWebsite')}}</a></td>
              <td>{{ formatDate(props.item.created_at, selectedLocale.dateTimeFormat) }}</td>
              <td>{{ formatDate(props.item.updated_at, selectedLocale.dateTimeFormat) }}</td>
            </template>
            <template slot="no-data">
              <v-flex xs12 wrap text-center>  
                <em>{{$t('message.noData')}}</em>
              </v-flex>
            </template>
          </v-data-table>
        </app-card>
      </v-layout>
    </v-container>
  </div>
</template>


<script>

import api from "Api";
import { formatDate } from "Helpers/helpers";
import { mapGetters	} from "vuex";

export default {
  data() {
    return {
    	headers: [
	        { text: "message.product", value: "name" },
	        { text: "message.website", value: "website" },
	        { text: 'message.added', value: "added" },
	        { text: 'message.updated', value: "updated" },
	    ],
    	suppliers: [],
    };
  },
  methods: {
		getSuppliers() {
			api
				.get("suppliers")
				.then(response => {
					this.suppliers = response.data;
					})
				.catch(error => {
					console.log(error);
				});
		},
		formatDate(timestamp, format) {
			return formatDate(timestamp, format);
		},
	},
	mounted () {
		this.getSuppliers();
	},
	computed: {
		...mapGetters(["selectedLocale", "languages"])
	}
};
</script>