<!-- App Main Structure -->
<template>
	<div class="app-horizontal-layout">
			<!-- App Header -->
			<app-header :horizontal="true"></app-header>
			<app-horizontal-menus></app-horizontal-menus>
			<v-navigation-drawer
				absolute
				temporary
				v-model="horizontalLayoutSidebar"
				:width="250"
			>
				<app-sidebar></app-sidebar>
			</v-navigation-drawer>
			<!-- App Main Content -->
			<v-content>
				<!-- App Router -->
				<transition name="router-anim" :enter-active-class="`animated ${selectedRouterAnimation}`">
					<div>
            <router-view></router-view>
          </div>
				</transition>
			</v-content>
      <v-speed-dial
            v-model="floatingButtons.fab"
            :top="floatingButtons.top"
            :bottom="floatingButtons.bottom"
            :right="floatingButtons.right"
            :left="floatingButtons.left"
            :direction="floatingButtons.direction"
            :open-on-hover="floatingButtons.hover"
            :transition="floatingButtons.transition"
          >
        <template v-slot:activator>
          <v-btn v-model="floatingButtons.fab" color="pink" dark fab>
            <v-icon>add</v-icon>
            <v-icon>close</v-icon>
          </v-btn>
        </template>
        <v-tooltip :disabled="floatingButtons.tooltipsDisabled" left :value="floatingButtons.tooltips">
          <v-btn fab dark small color="green" slot="activator" href="/products/product/add">
            <v-icon>label</v-icon>
          </v-btn>
          <span>{{ $t('message.addProduct') }}</span>
        </v-tooltip>  
        <v-tooltip :disabled="floatingButtons.tooltipsDisabled" left :value="floatingButtons.tooltips">
          <v-btn fab dark small color="green" slot="activator" href="/brands/brand/add">
            <v-icon>stars</v-icon>
          </v-btn>
          <span>{{ $t('message.addBrand') }}</span>
        </v-tooltip>  
        <v-tooltip :disabled="floatingButtons.tooltipsDisabled" left :value="floatingButtons.tooltips">
          <v-btn fab dark small color="green" slot="activator" href="/suppliers/supplier/add">
            <v-icon>category</v-icon>
          </v-btn>
          <span>{{ $t('message.addSupplier') }}</span>
        </v-tooltip>  
        <!-- <v-tooltip :disabled="floatingButtons.tooltipsDisabled" left :value="floatingButtons.tooltips">
          <v-btn fab dark small color="green" slot="activator">
            <v-icon>user</v-icon>
          </v-btn>
          <span>{{ $t('message.addUser') }}</span>
        </v-tooltip>   -->
        
      </v-speed-dial>
	</div>
</template>

<script>
import Header from "Components/Header/Header.vue";
import AppHorizontalMenus from "Components/AppHorizontalMenus/AppHorizontalMenus";
import PageTitleBar from "Components/PageTitleBar/PageTitleBar";
import { mapGetters } from "vuex";
import Sidebar from "Components/Sidebar/Sidebar";

export default {
  data() {
    return {
      loading: true,
      floatingButtons: {
        direction: 'top',
        fab: false,
        fling: false,
        hover: false,
        tabs: null,
        top: false,
        right: true,
        bottom: true,
        left: false,
        transition: 'slide-y-reverse-transition',
        tooltips: false,
        tooltipsDisabled: false,
      }
    };
  },
  components: {
    appHeader: Header,
    appHorizontalMenus: AppHorizontalMenus,
    PageTitleBar,
    appSidebar: Sidebar
  },
  mounted() {
    setTimeout(() => {
      this.loading = false;
    }, 2000);
  },
  computed: {
    ...mapGetters(["selectedRouterAnimation"]),
    horizontalLayoutSidebar: {
      get() {
        return this.$store.getters.horizontalLayoutSidebar;
      },
      set(val) {
        this.$store.dispatch("toggleHorizontalLayoutSidebar", val);
      }
    },
    // computed property to get page breadcrumbs
    pageTitle() {
      return this.$breadcrumbs[0].meta.title;
    },
    pageBreadcrumb() {
      return this.$breadcrumbs[0].meta.breadcrumb;
    }
  }
};
</script>

<style scoped>

  .app-horizontal-layout {
    height: 100vh;
  }
  
  .v-speed-dial {
    position: absolute;
  }

  .v-btn--floating {
    position: relative;
  }

</style>

